<div>
<div class="container">
  <div  class="myform  mx-auto">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- <div class="mb-3 form-check">
      </div> -->
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
          <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
          <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
          <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
          <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</div>
        </div>
      </div>
      <div class="container mb-4 save_button">
        <a [routerLink]="'/auth/register'" style="text-decoration: none;">Sign Up/Register</a>
      </div>
      <div class="save_button">
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
      </div>
    </form>
  </div>
  </div>
  </div>